.cart-style{
    position: sticky;
    top: 0;
}

.cart-style button{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

.cart-style button:hover{
    background-color: aquamarine;
}

.cart-title{
    text-align: center;
}